@page ﻿"/documentos/{EmpresaId:int}"

@using WebJar.Shared.Servicios
@inject EmpresaService EmpresaService

@if (LPolizas is null)
{
    <Loading />
}
else
{
    <h3>@empresa?.Nombre</h3>
    <div class="card">
        <div class="card-header">
            <span>
                <i class="bi bi-globe-americas" /> Documentos
                <a class="btn btn-primary btn-sm float-end" href="/documentos/create/@empresa.Id">
                    <i class="bi bi-plus-square" /> Ingresar Nuevo Documento
                </a>
                @* <a class="btn btn-sm btn-primary float-end mx-1" @onclick=@(() => ShowModalAsync())>
                    <i class="bi bi-plus-square" /> Nuevo Codigo de Cuenta </a> *@
            </span>
        </div>
        <div class="card-body">
            <Filter PlaceHolder="Buscar documento..." Callback=@FilterCallBack />
            <GenericList MyList="LPolizas">
                <Body>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Documento</th>
                                <th>Tipo</th>
                                <th>Fecha</th>
                                <th>Debe</th>
                                <th>Haber</th>
                                <th>A favor de</th>
                                <th>Concepto</th>
                                <th>Comentario</th>
                                <th>Hecho por</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var poliza in LPolizas)
                            {
                                <tr>
                                   <td> <a href="/documentos/edit/@EmpresaId?editar=false" class="@(poliza.SumaDebe != poliza.SumaHaber ? "text-danger" : "text-dark")"> @poliza.Documento </a> </td>
                                    <td>
                                        @poliza.Tipo?.Nombre
                                    </td>
                                    <td>
                                        @poliza.Fecha.ToString("dd/MM/yyyy")
                                    </td>
                                    <td>
                                        @($"{poliza.SumaDebe:C2}")
                                    </td>
                                    <td>
                                        @($"{poliza.SumaHaber:C2}")
                                    </td>
                                    <td>
                                        @poliza.Aquien
                                    </td>
                                    <td>
                                        @poliza.Porque
                                    </td>
                                    <td>
                                        @poliza.Comentario
                                    </td>
                                    <td>
                                        @poliza.Hechopor
                                    </td>
                                    <td>
                                        <a href="/documentos/edit/@EmpresaId?editar=true" class="btn btn-info btn-sm">
                                            <i class="bi bi-info-circle" />
                                            Editar
                                        </a>
@*                                         <a @onclick=@(() => ShowModalAsync(poliza.Id, true)) class="btn btn-sm btn-warning"><i class="bi bi-pencil" /> Editar</a>*@
                                        <button class="btn btn-sm btn-danger" @onclick=@(() => DeleteAsync(poliza))>Eliminar</button> 

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </Body>
            </GenericList>
            <Pagination CurrentPage="currentPage"
                        TotalPages="totalPages"
                        SelectedPage="SelectedPageAsync"
                        RecordsNumber="SelectedRecordsNumberAsync" />
        </div>
    </div>
}
